<div class="card-round p-3">
    <div><h5 class="card-title text-primaire">Créer une execution</h5></div>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
            <mat-step>
                <ng-template matStepLabel>
                    <span>Execution</span>
                </ng-template>
                <div class="row">
                    <div class="col-md-6">
                        <div class="position-relative form-group">
                            <label for="empotage">Plan d'empotage:</label>
                            <select class="form-control" id="empotage" formControlName="empotage">
                                <option value="" selected disabled>Selectionner un plan d'empotage</option>
                                <option *ngFor="let item of empotages" [value]="item?.id">{{"Plan d' empotage N° "+item?.id}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <button class="button btn-small btn-neutral-primaire" type="button" (click)="onAddConteneur()">
                            <i class="fas fa-plus"></i>  Ajouter un conteneur
                        </button>
                    </div>
                </div>
                <div formArrayName="conteneurs">
                  <div class="bg-gray p-3 form-group">
                    <div class="form-group" *ngFor="let item of optCont.controls; let i=index" [formGroupName]="i">
                      <div class="row">
                          <div class="col-md-6">
                              <div class="position-relative form-group">
                                  <label for="conteneur">Conteneur :</label>
                                  <select class="form-control"  formControlName="conteneur" id="conteneur{{i}}">
                                    <option *ngFor="let item of conteneurs" [value]="item?.id">{{item?.libelle}}</option>
                                  </select>
                              </div>
                          </div>
                          <div class="col-md-6">
                              <button class="button btn-small btn-neutral-primaire" type="button" (click)="onAddLot(i, 2, item)">
                                  <i class="fas fa-plus"></i>  Ajouter un lot
                              </button>
                          </div>
                      </div>
                      <!-- <div formArrayName="lots">
                        <div class="row">
                            <div class="col-md-6">
                              <div class="form-group" *ngFor="let props of item.get('lots').controls; let j=index" [formGroupName]="j">
                                <div class="row">
                                  <div class="col-md-6">
                                      <div class="position-relative form-group">
                                          <label for="lot">Lots :</label>
                                          <select class="form-control" id="lot{{i}}{{j}}" formControlName="lot">
                                              <option value="" selected>Selectionner le(s) lot(s)</option>
                                              <option *ngFor="let item of conteneurs" [value]="item?.id">{{item?.libelle}}</option>
                                          </select>
                                      </div>
                                  </div>
                                  <div class="col-md-6">
                                      <div class="position-relative form-group">
                                          <label for="nbSacs">Nombre de sacs :</label>
                                          <input type="number" formControlName="nbSacs" class="form-control" id="nbSacs{{i}}{{j}}" placeholder="Nombre sacs">
                                        </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                        </div>
                      </div> -->
                    </div>
                  </div>
                </div>
                <div class="d-flex justify-content-between mb-3">
                    <div></div>
                    <button mat-button matStepperNext  type="button" class="button btn-small btn-primaire">
                        Suivant  <i class="fas fa-chevron-right"></i>
                    </button>
                </div>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Recap</ng-template>
                <div class="row">
                    <div class="col-md-12">
                        <div class="bg-gray second p-3">
                            <span class="bottom">Execution</span>
                            <div class="row">
                                <span class="title">Plan d'empotage</span>
                                <div class="col-md-4">
                                    <div class="content">
                                        <div class="d-flex justify-content-between">
                                            <span>Plan 01</span>
                                            <span class="action">
                                                <i class="fas fa-pen"></i>
                                                Changer
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <span class="title">Conteneur</span>
                                <div class="col-md-4">
                                    <div class="content">
                                        <div class="d-flex justify-content-between">
                                            <div>
                                                <span>Conteneur 01</span>
                                                <br>
                                                <small>Capacité: 321</small>
                                            </div>
                                            <span class="action">
                                                <i class="fas fa-pen"></i>
                                                Editer
                                            </span>
                                        </div>
                                        <div class="d-flex justify-content-between mt-1">
                                            <span>Nombre de lot</span>
                                            <span>42</span>
                                        </div>
                                        <div class="d-flex justify-content-between mt-1">
                                            <span>Nombre de sacs</span>
                                            <span>542</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="content">
                                        <div class="d-flex justify-content-between">
                                            <div>
                                                <span>Conteneur 01</span>
                                                <br>
                                                <small>Capacité: 321</small>
                                            </div>
                                            <span class="action">
                                                <i class="fas fa-pen"></i>
                                                Editer
                                            </span>
                                        </div>
                                        <div class="d-flex justify-content-between mt-1">
                                            <span>Nombre de lot</span>
                                            <span>42</span>
                                        </div>
                                        <div class="d-flex justify-content-between mt-1">
                                            <span>Nombre de sacs</span>
                                            <span>542</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="content">
                                        <div class="d-flex justify-content-between">
                                            <div>
                                                <span>Conteneur 01</span>
                                                <br>
                                                <small>Capacité: 321</small>
                                            </div>
                                            <span class="action">
                                                <i class="fas fa-pen"></i>
                                                Editer
                                            </span>
                                        </div>
                                        <div class="d-flex justify-content-between mt-1">
                                            <span>Nombre de lot</span>
                                            <span>42</span>
                                        </div>
                                        <div class="d-flex justify-content-between mt-1">
                                            <span>Nombre de sacs</span>
                                            <span>542</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-between mb-3">
                    <button mat-button matStepperPrevious  class="button btn-small btn-neutral-primaire">
                        <i class="fas fa-chevron-left"></i>  Precedent
                    </button>
                    <button mat-button matStepperNext  class="button btn-small btn-primaire">
                        Enregistrer  <i class="fas fa-chevron-right"></i>
                    </button>
                </div>
            </mat-step>
        </mat-stepper>
      </form>
</div>
