.row {
    margin-bottom: 15px;
    label {
        margin-bottom: 5px;
    }
}

// Input de type select
select, input, .radios {
    height: 40px;
    border-radius: 5px;
}
.button {
    margin-top: 25px;
}
.bg-gray {
    border-radius: 10px;
    background-color: #fafafb;
    input, select {
        background: transparent;
    }
}
.bg-gray.second {
    margin-top: 20px;
    .bottom {
        margin-bottom: 25px;
    }
    .title {
        font-weight: bold;
        margin-bottom: 15px;
    }
    .content {
        border-radius: 10px;
        padding: 15px;
        background: #fffbf8;
        small {
            color: #cb7a4b;
        }
        .action {
            cursor: pointer;
            color: #cb7a4b;
        }
        span {
            font-weight: 500;
        }
    }
}