<div>
    <div class="text-right">
        <button class="button btn-small btn-primaire one" (click)="clicked('valide')">Valider</button>
        <button class="button btn-small btn-neutral-primaire" [routerLink]="['/pages/empotage/list']">
            <i class="fas fa-chevron-left"></i>  Precedent
        </button>
    </div>

    <div class="card-round p-3">
        <div class="head">
            <div><h5 class="card-title text-primaire">Plan N°:00978000089</h5></div>
            <button class="button btn-small btn-vert">
              Validé
            </button>
        </div>
        <div class="row">
            <div class="col-md-6">
              <app-detail-block [entity]="'prerequis'" [etat]="etat" [datas]="empotage"></app-detail-block>

                <div class="card">
                    <div class="card-header">
                        <div class="d-flex justify-content-between">
                            <span>Site</span>
                            <span class="edit"><i class="fas fa-pen"></i> Editer</span>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-3">
                                        <p class="m-0">Booking</p>
                                    </div>
                                    <div class="col-md-3">
                                        <p class="m-0">2276</p>
                                    </div>
                                </div>
                                <hr class="my-3">
                                <div class="row">
                                    <div class="col-md-3">
                                        <p class="m-0">Entrepôt</p>
                                    </div>
                                    <div class="col-md-3">
                                        <p class="m-0">123</p>
                                    </div>
                                </div>
                                <hr class="my-3">
                                <div class="row">
                                    <div class="col-md-3">
                                        <p class="m-0">Transitaire</p>
                                    </div>
                                    <div class="col-md-3">
                                        <p class="m-0">123</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex justify-content-between my-3">
                            <span>Conteneur</span>
                        </div>
                        <div class="d-flex" id="conteneur-wrapper">
                            <div class="item">
                                <span>Conteneur 1</span>
                                <i class="fas fa-times"></i>
                            </div>
                            <div class="item">
                                <span>Conteneur 2</span>
                                <i class="fas fa-times"></i>
                            </div>
                            <div class="item">
                                <span>Conteneur 3</span>
                                <i class="fas fa-times"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex justify-content-between">
                            <span>Lot</span>
                            <span class="edit"><i class="fas fa-pen"></i> Editer</span>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <span class="lot-title">Lot 01</span>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-8">
                                        <p class="mb-1">Quantité</p>
                                        <p class="mb-1">Granage</p>
                                        <p class="mb-1">TH</p>
                                    </div>
                                    <div class="col-md-4">
                                        <p class="mb-1">12</p>
                                        <p class="mb-1">12</p>
                                        <p class="mb-1">123</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-8">
                                        <p class="mb-1">Nombre de sac en stock</p>
                                        <p class="mb-1">Nombre de sac en restant</p>
                                    </div>
                                    <div class="col-md-4">
                                        <p class="mb-1">212</p>
                                        <p class="mb-1">212</p>
                                    </div>
                                </div>
                            </div>
                            <hr class="my-2">
                            <span class="lot-title">Lot 02</span>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-8">
                                        <p class="mb-1">Quantité</p>
                                        <p class="mb-1">Granage</p>
                                        <p class="mb-1">TH</p>
                                    </div>
                                    <div class="col-md-4">
                                        <p class="mb-1">12</p>
                                        <p class="mb-1">12</p>
                                        <p class="mb-1">123</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-8">
                                        <p class="mb-1">Nombre de sac en stock</p>
                                        <p class="mb-1">Nombre de sac en restant</p>
                                    </div>
                                    <div class="col-md-4">
                                        <p class="mb-1">212</p>
                                        <p class="mb-1">212</p>
                                    </div>
                                </div>
                            </div>
                            <hr class="my-2">
                            <span class="lot-title">Lot 03</span>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-8">
                                        <p class="mb-1">Quantité</p>
                                        <p class="mb-1">Granage</p>
                                        <p class="mb-1">TH</p>
                                    </div>
                                    <div class="col-md-4">
                                        <p class="mb-1">12</p>
                                        <p class="mb-1">12</p>
                                        <p class="mb-1">123</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-8">
                                        <p class="mb-1">Nombre de sac en stock</p>
                                        <p class="mb-1">Nombre de sac en restant</p>
                                    </div>
                                    <div class="col-md-4">
                                        <p class="mb-1">212</p>
                                        <p class="mb-1">212</p>
                                    </div>
                                </div>
                            </div>
                            <hr class="my-2">
                            <span class="lot-title">Lot 04</span>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-8">
                                        <p class="mb-1">Quantité</p>
                                        <p class="mb-1">Granage</p>
                                        <p class="mb-1">TH</p>
                                    </div>
                                    <div class="col-md-4">
                                        <p class="mb-1">12</p>
                                        <p class="mb-1">12</p>
                                        <p class="mb-1">123</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-8">
                                        <p class="mb-1">Nombre de sac en stock</p>
                                        <p class="mb-1">Nombre de sac en restant</p>
                                    </div>
                                    <div class="col-md-4">
                                        <p class="mb-1">212</p>
                                        <p class="mb-1">212</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="action == 'valide'">
    <div class="text-right">
        <button class="button btn-small btn-neutral-primaire"(click)="clicked('non valide')">
            <i class="fas fa-chevron-left"></i>  Precedent
        </button>
    </div>

    <div class="card-round p-3">
        <div class="head">
            <div><h5 class="card-title text-primaire">Plan N°:00978000089</h5></div>
            <button class="button btn-small btn-vert">
              Validé
            </button>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="card-header">
                        <div class="d-flex justify-content-between">
                            <span>Prerequis</span>
                            <div class="action">
                                <span class="one"><i class="ti-download"></i> Enregistrer</span>
                                <span><i class="fas fa-times"></i> Annuler</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-3">
                                        <p class="m-0">Contract</p>
                                    </div>
                                    <div class="col-md-3">
                                        <select class="select">
                                            <option>Contract 1</option>
                                            <option selected>Contract 2</option>
                                            <option>Contract 3</option>
                                            <option>Contract 4</option>
                                        </select>
                                    </div>
                                </div>
                                <hr class="my-3">
                                <div class="row">
                                    <div class="col-md-3">
                                        <p class="m-0">Quantité</p>
                                    </div>
                                    <div class="col-md-3">
                                        <select class="select">
                                            <option>2275</option>
                                            <option selected>2276</option>
                                            <option>2277</option>
                                            <option>22768</option>
                                        </select>
                                    </div>
                                </div>
                                <hr class="my-3">
                                <div class="row">
                                    <div class="col-md-3">
                                        <p class="m-0">Premium</p>
                                    </div>
                                    <div class="col-md-3">
                                        <p class="m-0">+2</p>
                                    </div>
                                </div>
                                <hr class="my-3">
                                <div class="row">
                                    <div class="col-md-3">
                                        <p class="m-0">Discompte</p>
                                    </div>
                                    <div class="col-md-3">
                                        <p class="m-0">-2</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <div class="d-flex justify-content-between">
                            <span>Site</span>
                            <div class="action">
                                <span class="one"><i class="ti-download"></i> Enregistrer</span>
                                <span><i class="fas fa-times"></i> Annuler</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-3">
                                        <p class="m-0">Booking</p>
                                    </div>
                                    <div class="col-md-3">
                                        <select class="select">
                                            <option>2275</option>
                                            <option selected>2276</option>
                                            <option>2277</option>
                                            <option>22768</option>
                                        </select>
                                    </div>
                                </div>
                                <hr class="my-3">
                                <div class="row">
                                    <div class="col-md-3">
                                        <p class="m-0">Entrepôt</p>
                                    </div>
                                    <div class="col-md-3">
                                        <select class="select">
                                            <option>122</option>
                                            <option selected>123</option>
                                            <option>124</option>
                                            <option>125</option>
                                        </select>
                                    </div>
                                </div>
                                <hr class="my-3">
                                <div class="row">
                                    <div class="col-md-3">
                                        <p class="m-0">Transitaire</p>
                                    </div>
                                    <div class="col-md-3">
                                        <select class="select">
                                            <option>122</option>
                                            <option selected>123</option>
                                            <option>124</option>
                                            <option>125</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex justify-content-between my-3">
                            <span>Conteneur</span>
                        </div>
                        <div id="conteneur-wrapper">
                            <div class="d-flex">
                                <div class="item">
                                    <span>Conteneur 1</span>
                                    <i class="fas fa-times"></i>
                                </div>
                                <div class="item">
                                    <span>Conteneur 2</span>
                                    <i class="fas fa-times"></i>
                                </div>
                                <div class="item">
                                    <span>Conteneur 3</span>
                                    <i class="fas fa-times"></i>
                                </div>
                            </div>
                            <br>
                            <div class="d-flex">
                                <div class="item">
                                    <span>Conteneur 1</span>
                                    <i class="fas fa-times"></i>
                                </div>
                                <div class="item">
                                    <span>Conteneur 2</span>
                                    <i class="fas fa-times"></i>
                                </div>
                                <div class="item">
                                    <span>Conteneur 3</span>
                                    <i class="fas fa-times"></i>
                                </div>
                            </div>
                            <button class="button btn-primaire">Ajouter</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex justify-content-between">
                            <span>Lot</span>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <span class="lot-title">Lot 01</span>
                            <div class="col-md-3">
                                <div class="row">
                                    <div class="col-md-8">
                                        <p class="mb-1">Quantité</p>
                                        <p class="mb-1">Granage</p>
                                        <p class="mb-1">TH</p>
                                    </div>
                                    <div class="col-md-4">
                                        <p class="mb-1">12</p>
                                        <p class="mb-1">12</p>
                                        <p class="mb-1">123</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-8">
                                        <p class="mb-1">Nombre de sac en stock</p>
                                        <p class="mb-1">Nombre de sac en restant</p>
                                    </div>
                                    <div class="col-md-4">
                                        <p class="mb-1">212</p>
                                        <p class="mb-1">212</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="lot-action">
                                    <span>
                                        <span (click)="clicked('changer-lot')">
                                            <i class="ti-reload"></i> Changer ce lot
                                        </span>
                                        <i class="fas fa-trash second"></i>
                                    </span>
                                </div>
                            </div>
                            <hr class="my-2">
                            <span class="lot-title">Lot 02</span>
                            <div class="col-md-3">
                                <div class="row">
                                    <div class="col-md-8">
                                        <p class="mb-1">Quantité</p>
                                        <p class="mb-1">Granage</p>
                                        <p class="mb-1">TH</p>
                                    </div>
                                    <div class="col-md-4">
                                        <p class="mb-1">12</p>
                                        <p class="mb-1">12</p>
                                        <p class="mb-1">123</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-8">
                                        <p class="mb-1">Nombre de sac en stock</p>
                                        <p class="mb-1">Nombre de sac en restant</p>
                                    </div>
                                    <div class="col-md-4">
                                        <p class="mb-1">212</p>
                                        <p class="mb-1">212</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="lot-action">
                                    <span>
                                        <span (click)="clicked('changer-lot')">
                                            <i class="ti-reload"></i> Changer ce lot
                                        </span>
                                        <i class="fas fa-trash second"></i>
                                    </span>
                                </div>
                            </div>
                            <hr class="my-2">
                            <span class="lot-title">Lot 03</span>
                            <div class="col-md-3">
                                <div class="row">
                                    <div class="col-md-8">
                                        <p class="mb-1">Quantité</p>
                                        <p class="mb-1">Granage</p>
                                        <p class="mb-1">TH</p>
                                    </div>
                                    <div class="col-md-4">
                                        <p class="mb-1">12</p>
                                        <p class="mb-1">12</p>
                                        <p class="mb-1">123</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-8">
                                        <p class="mb-1">Nombre de sac en stock</p>
                                        <p class="mb-1">Nombre de sac en restant</p>
                                    </div>
                                    <div class="col-md-4">
                                        <p class="mb-1">212</p>
                                        <p class="mb-1">212</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="lot-action">
                                    <span>
                                        <span (click)="clicked('changer-lot')">
                                            <i class="ti-reload"></i> Changer ce lot
                                        </span>
                                        <i class="fas fa-trash second"></i>
                                    </span>
                                </div>
                            </div>
                            <hr class="my-2">
                            <span class="lot-title">Lot 04</span>
                            <div class="col-md-3">
                                <div class="row">
                                    <div class="col-md-8">
                                        <p class="mb-1">Quantité</p>
                                        <p class="mb-1">Granage</p>
                                        <p class="mb-1">TH</p>
                                    </div>
                                    <div class="col-md-4">
                                        <p class="mb-1">12</p>
                                        <p class="mb-1">12</p>
                                        <p class="mb-1">123</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-8">
                                        <p class="mb-1">Nombre de sac en stock</p>
                                        <p class="mb-1">Nombre de sac en restant</p>
                                    </div>
                                    <div class="col-md-4">
                                        <p class="mb-1">212</p>
                                        <p class="mb-1">212</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="lot-action">
                                    <span>
                                        <span (click)="clicked('changer-lot')">
                                            <i class="ti-reload"></i> Changer ce lot
                                        </span>
                                        <i class="fas fa-trash second"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="action == 'changer-lot'">
    <div class="text-right">
        <button class="button btn-small btn-neutral-primaire"(click)="clicked('valide')">
            <i class="fas fa-chevron-left"></i>  Precedent
        </button>
    </div>

    <div class="card-round p-3">
        <div><h5 class="card-title text-primaire">Changement de lot</h5>
            <div class="row">
                <div class="col-md-4">
                    <div class="position-relative form-group">
                        <label for="lot">Lots:</label>
                        <details class="custom-select">
                            <summary class="radios">
                                <input type="radio" name="item" id="default" title="" checked>
                                <input type="radio" name="lot" id="lot1" title="Lot 1">
                                <input type="radio" name="lot" id="lot2" title="Lot 2">
                                <input type="radio" name="lot" id="lot3" title="Lot 3">
                                <input type="radio" name="lot" id="lot4" title="Lot 4">
                                <input type="radio" name="lot" id="lot5" title="Lot 5">
                            </summary>
                            <ul class="list">
                                <li>
                                    <label for="lot1">Lot 1</label>
                                </li>
                                <li>
                                    <label for="lot2">Lot 2</label>
                                </li>
                                <li>
                                    <label for="lot3">Lot 3</label>
                                </li>
                                <li>
                                    <label for="lot4">Lot 4</label>
                                </li>
                                <li>
                                    <label for="lot5">Lot 5</label>
                                </li>
                            </ul>
                        </details>
                    </div>
                    <div class="lot-content">
                        <div class="lot-item d-flex justify-content-between">
                            <span>
                                <span class="dot"></span>
                                Lot 01
                            </span>
                            <div class="lot-action">
                                <i class="fas fa-eye"></i>
                                <i class="fas fa-times"></i>
                            </div>
                        </div>
                        <hr class="m-0">
                        <div class="lot-item d-flex justify-content-between">
                            <span>
                                <span class="dot"></span>
                                Lot 01
                            </span>
                            <div class="lot-action">
                                <i class="fas fa-eye"></i>
                                <i class="fas fa-times"></i>
                            </div>
                        </div>
                        <hr class="m-0">
                        <div class="lot-item d-flex justify-content-between">
                            <span>
                                <span class="dot"></span>
                                Lot 01
                            </span>
                            <div class="lot-action">
                                <i class="fas fa-eye"></i>
                                <i class="fas fa-times"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info">
                        <span class="titre mb-3">Info sur le lot</span>
                        <div class="d-flex justify-content-between">
                            <span>Quantité</span>
                            <span>12</span>
                        </div>
                        <hr>
                        <div class="d-flex justify-content-between">
                            <span>Grainage</span>
                            <span>12</span>
                        </div>
                        <hr>
                        <div class="d-flex justify-content-between">
                            <span>TH</span>
                            <span>123</span>
                        </div>
                        <hr>
                        <div class="d-flex justify-content-between">
                            <span>Nomre de sacs en stock</span>
                            <span>223</span>
                        </div>
                        <hr>
                        <div class="d-flex justify-content-between">
                            <span>Nomre de sacs en restant</span>
                            <span>223</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-between foot-action">
                <button class="button btn-small btn-neutral-primaire">Annuler</button>
                <button class="button btn-small btn-primaire">Modifier</button>
            </div>
        </div>
    </div>
</div>
