<div class="breadcrumb">
    <a href="#">Tableau de bord</a>
    <i class="fa fa-chevron-right"></i>
    <a href="#">Gestion de lot</a>
    <i class="fa fa-chevron-right"></i>
    <a href="#" class="bold">Plan d'empotage</a>
</div>