.breadcrumb {
    padding: 20px;
    display: flex;
    align-items: center;
    a {
        text-decoration: none;
        margin-right: 14px;
        color: rgba(141, 141, 141, 1);
    }
    a:hover {
        color: #000;
    }
    i {
        margin-right: 14px;
        color: rgba(141, 141, 141, 1);
    }
    .bold {
        font-weight: bold;
        color: #000;
    }
}