.link {
    height: 41px;
    width: 95px;
    margin-right: 15px;
    border-radius: 25px;
    border: 1px solid orange;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
    img {
        margin-right: 13.26px;
    }
}

// Bouton de notification
.btn-primary {
    width: 80px;
    height: 39px;
    box-shadow: 0px 5px 15px #2686c6;
    border-radius: 5px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    &:hover {
        box-shadow: 0px 5px 15px #2686c6;
    }
    i {
        margin-right: 8.77px;
    }
}
.dropdown-menu {
    border: none;
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
    .d-flex {
        color: rgba(141, 141, 141, 1);
        align-items: center;
        .wrapper {
            display: flex;
            align-items: center;
            .sender-photo {
                height: 41px;
                width: 41px;
                border-radius: 3px;
                background: #FFF6F1;
                margin-right: 20px;
            }
            .content {
                width: 304px;
                margin-right: 30px;
                .title {
                    font-weight: bold;
                    color: #000;
                }
            }
        }
        .close {
            background: #FFF6F1;
        }
    }
}


// Selection de langue
.flag-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 88.88px;

    img {
        height: 25px;
        width: 41px;
        border-radius: 5px;
        margin-right: 18px;
    }
    i {
        color: rgba(112, 112, 112, 1);
    }
}

// User connecter
.dropdwon-btn {
    height: 45px;
    width: 224px;
    margin-left: 53px;
    border-radius: 8px;
    align-items: center;
    display: flex;
    background-color: rgba(255, 255, 255, 1);
    .user {
        margin: 5px 4px;
        border-radius: 5px;
        color: #000 ;
        width: 40px;
        height: 40px;
        background: rgba(239, 239, 239, 1);
        top: 36px;
        left: 1648px;
        opacity: 1;
    }
    i {
        margin-left: 63.5px;
        color: rgba(112, 112, 112, 1);
    }
    #btn{
        text-decoration: none;
        span {
            color: #000;
        }
    }
    .dropdown-menu {
        width: 201px;
        box-shadow: -1px -1px 5px rgba(#333, 0.2);
    }
    .nav-item {
        margin: 0;
        padding: 10px;
        list-style: none;
        :hover {
            border-radius: 3px;
            background: #FFF6F1;
        }
        .nav-link {
            color: rgba(112, 112, 112, 1);
            span {
                margin-left: 10px;
            }
        }
    }
}