<div class="d-flex justify-content-between" id="header-wrapper">
    <div class="d-flex">
        <div class="link">
          <img src="assets/images/cajou.svg" alt="">
          <span>Cajou</span>
        </div>
        <div class="link">
          <img src="assets/images/cacao.svg" alt="">
          <span>Cacao</span>
        </div>
        <div class="link">
          <img src="assets/images/hevea.svg" alt="">
          <span>Hevea</span>
        </div>
        <div class="link">
          <img src="assets/images/karite.svg" alt="">
          <span>Karité</span>
        </div>
    </div>

    <div class="d-flex">
      <div class="btn-group" dropdown>
        <button class="btn btn-primary" dropdownToggle>
          <i class="fa fa-bell"></i> 12
        </button>
        <div *dropdownMenu class="dropdown-menu dropdown-menu">
          <ul class="list-group list-group-flush text-left bg-transparent">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="">
                <div class="d-flex">
                  <div class="wrapper">
                    <div class="sender-photo"></div>
                    <div class="content">
                      <div class="title">Notifivation 01</div>
                      <p class="mgs">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus, cupiditate hic volupta.
                      </p>
                    </div>
                  </div>
                  <div class="close">
                    <i class="fas fa-times"></i>
                  </div>
                </div>
              </a>
            </li>
            <hr class="m-0">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="">
                <div class="d-flex">
                  <div class="wrapper">
                    <div class="sender-photo"></div>
                    <div class="content">
                      <div class="title">Notifivation 01</div>
                      <p class="mgs">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus, cupiditate hic volupta.
                      </p>
                    </div>
                  </div>
                  <div class="close">
                    <i class="fas fa-times"></i>
                  </div>
                </div>
              </a>
            </li>
            <hr class="m-0">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="">
                <div class="d-flex">
                  <div class="wrapper">
                    <div class="sender-photo"></div>
                    <div class="content">
                      <div class="title">Notifivation 01</div>
                      <p class="mgs">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus, cupiditate hic volupta.
                      </p>
                    </div>
                  </div>
                  <div class="close">
                    <i class="fas fa-times"></i>
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
        
        <div class="flag-content">
          <ngx-flag-picker
            [selectedCountryCode]="selectedCountryCode"
            [countryCodes]="countryCodes"
            (changedCountryCode)="changeSelectedCountryCode($event)">
          </ngx-flag-picker>
        </div>

        <div class="dropdwon-btn">
          <div class="user-box position-relative ml-2" dropdown>
            <a dropdownToggle [routerLink]="" class="p-0 d-flex align-items-center" id="btn">
              <img src="assets/images/man-in-suit-and-tie.svg" alt="" class="user">
              <span>CAP SIKAN</span>
              <i class="fa fa-chevron-down"></i>
            </a>
            <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown-menu-lg p-0">
              <ul class="list-group list-group-flush text-left bg-transparent">
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="">
                    <i class="fa fa-user m-0"></i>
                    <span>Profils</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="">
                    <i class="fa fa-envelope m-0"></i>
                    <span>Messages</span>
                  </a>
                </li>
                <hr class="m-0">
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="">
                    <i class="fas fa-sign-out-alt m-0"></i>
                    <span>Se deconnecter</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
    </div>
</div>