:host {
    font-family: 'Roboto' sans-serif;
    .sidebar-menu {
        margin: 45px 0 0 0;
        
        li {
            padding: 7px;
            margin: 5px 0;
            border-radius: 5px;
            list-style: none;
            color: #000;
    
            a {
                text-decoration: none;
                color: #000;
                display: flex;
                align-items: center;
                .icon {
                    vertical-align: center;
                    margin-right: 12.6px;
                    color: #707070;
                    height: 20px;
                    width: 20px;
                }
            }
            &:hover {
                background: #FFF6F1;
                color: #000;
                cursor: pointer;
            }
        }
    }
}