<div>
    <div class="side-logo text-center">
        <a routerLink="/dashboard-default" >
            <i>
                <img src="assets/images/auth-logo-ricva.png" alt="">
            </i>
        </a>
    </div>
    <div class="sidebar-menu">
        <li  [routerLink]="['/dashboard']" [routerLinkActive]="['active']">
            <a [routerLink]="">
                <i><img src="assets/icons/dashboard.png" alt="" class="icon"></i>
                Tableau de bord
            </a>
        </li>
        <li  [routerLink]="['/pages/empotage/list']" [routerLinkActive]="['active']">
            <a [routerLink]="">
                <i><img src="assets/icons/gear.svg" alt="" class="icon"></i>
                Opération
            </a>
        </li>
        <li  [routerLink]="['/pages/execution/list']" [routerLinkActive]="['active']">
            <a [routerLink]="">
                <i><img src="assets/icons/gear.svg" alt="" class="icon"></i>
                Exécution
            </a>
        </li>
    </div>
</div>






