<div class="card mb-3" *ngIf="entity === 'prerequis'">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="card-header">
      <div class="d-flex justify-content-between">
        <span>Prerequis</span>
        <span class="edit" *ngIf="!etat" (click)="action('editer')"><i class="fas fa-pen"></i> Editer</span>
        <div class="action" *ngIf="etat">
            <span class="one"><i class="ti-download"  (click)="action('enregistrer')"></i> Enregistrer</span>
            <span><i class="fas fa-times" (click)="action('annuler')"></i> Annuler</span>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="form-group">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3">
                        <p class="m-0">Contract</p>
                    </div>
                    <div class="col-md-3">
                      <select class="select" aria-label="Default select example" id="contrat" formControlName="contrat">
                        <!-- <option *ngFor="let item of contrats" [value]="item.id">{{ item.libelle }}</option> -->
                      </select>
                    </div>
                </div>
                <hr class="my-3">
                <div class="row">
                  <div class="col-md-3">
                    <p class="m-0">Quantité</p>
                  </div>
                  <div class="col-sm-6">
                    <input class="form-control form-control-sm" type="number" aria-label=".form-control-sm example"
                      id="qte" formControlName="qte"  [disabled]="etat ? true : false">
                  </div>
                </div>
                <hr class="my-3">
                <div class="row">
                  <div class="col-md-3">
                    <p class="m-0">Premium</p>
                  </div>
                  <div class="col-sm-6">
                    <input class="form-control form-control-sm" type="number" aria-label=".form-control-sm example"
                    id="premium" formControlName="premium" [disabled]="etat ? true : false">
                  </div>
                </div>
                <hr class="my-3">
                <div class="row">
                    <div class="col-md-3">
                      <p class="m-0">Discompte</p>
                    </div>
                    <div class="col-sm-6">
                      <input class="form-control form-control-sm" type="number" aria-label=".form-control-sm example"
                      id="discompte" formControlName="discompte" [disabled]="etat ? true : false">
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </form>
</div>
