<router-outlet>
  <app-loading></app-loading>
</router-outlet>


<!-- <mat-drawer-container>
    <mat-drawer mode="side" opened="true">
        <app-sidebar></app-sidebar>
    </mat-drawer>

    <mat-drawer-content>
        <app-header></app-header>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container> -->
