@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet"');
:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: 'Roboto' sans-serif;
}
mat-drawer {
    width: 267px;
    background: #fff;
}
mat-drawer-container {
    height: 100%;
}

