<div id="app">
    <app-sidebar id="sidebar"></app-sidebar>

    <div id="container">
        <app-header id="header"></app-header>
        <div id="wrapper">
            <app-breadcrumb></app-breadcrumb>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>


<!-- <app-sidebar fxFlex="17"></app-sidebar>

<div fxFlex="83" id="container">
    <app-header flexLayout="colums"></app-header>
    <div class="corp">
        <router-outlet></router-outlet>
    </div>
</div> -->