<div class="d-flex justify-content-between mb-3">
  <div></div>
  <button class="button btn-primaire" (click)="addEmpotage()">Créer un plan d'empotage</button>
</div>

<app-data-table [entity]="'empotage'" [title]="'Plan empotage'" [datas]="empotages"></app-data-table>
