
<div class="card-round p-3" *ngIf="datas.length > 0">
  <div class="d-flex justify-content-between mb-3">
    <div><h5 class="card-title text-primaire">{{ title }}</h5></div>
    <div class="searchBar">
      <input id="searchQueryInput" type="text" name="searchQueryInput" placeholder="Recherche" value="" />
      <button id="searchIcon" type="submit" name="searchQuerySubmit">
        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
          <path fill="#666666" d="M9.5,3A6.5,6.5 0 0,1 16,9.5C16,11.11 15.41,12.59 14.44,13.73L14.71,14H15.5L20.5,19L19,20.5L14,15.5V14.71L13.73,14.44C12.59,15.41 11.11,16 9.5,16A6.5,6.5 0 0,1 3,9.5A6.5,6.5 0 0,1 9.5,3M9.5,5C7,5 5,7 5,9.5C5,12 7,14 9.5,14C12,14 14,12 14,9.5C14,7 12,5 9.5,5Z" />
        </svg>
      </button>
    </div>
  </div>
  <table class="table table-borderless table-stripbed">
    <thead id="t-header-round">
      <tr>
        <th *ngFor="let row of thead; let i = index"  class="{{i == 0 ? 'round-left' : i == last ? 'round-right' : ''}}" >{{row?.label}}</th>
      </tr>
    </thead>
    <tbody *ngIf="entity === 'empotage'">
      <tr *ngFor="let item of datas; let i = index">
        <td (click)="show(item)">{{item?.id}}</td>
        <td (click)="show(item)">{{item?.lot ? 'lot '+item?.lot : 'PAS DE LOT'}}</td>
        <td (click)="show(item)">{{item?.create|date: "d/m/Y"}}</td>
        <td (click)="show(item)">{{item?.update ? (item?.update|date: "d/m/Y") : 'PAS MODIFIE' }}</td>
        <td (click)="show(item)">{{item?.numTicket ? item?.numTicket : 'PAS DE TICKET'}}</td>
        <td>
          <button *ngIf="item?.etat" class="button btn-small btn-vert">
            Validé
          </button>
        </td>
        <td>
          <button (click)="delete(item, i)" class="button btn-icon btn-primaire"><i class="fas fa-trash"></i></button>
        </td>
      </tr>
    </tbody>
    <tbody *ngIf="entity === 'execution'">
      <tr *ngFor="let item of datas; let i = index">
        <td>{{ item?.id }}</td>
        <td (click)="show(item)">{{'empotage N° '+item?.empotage}}</td>
        <td (click)="show(item)">{{item?.create|date: "d/m/Y"}}</td>
        <td (click)="show(item)">{{item?.update ? (item?.update|date: "d/m/Y") : 'PAS MODIFIE' }}</td>
        <td>
          <button class="button btn-small btn-vert">
            Validé
          </button>
        </td>
        <td>
          <button (click)="delete(item, i)" class="button btn-icon btn-primaire"><i class="fas fa-trash"></i></button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-between mt-5">
    <div class="card-foot-item">
      <span>Afficher</span>
      <select class="form-control">
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="30">30</option>
        <option value="40">40</option>
        <option value="50">50</option>
      </select>
    </div>
    <div class="card-foot-item">
      <span>50/100</span>
      <div>
        <span>Voir plus</span>
        <i><img src="assets/images/icon-down.svg" alt=""></i>
      </div>
    </div>
    <div class="redirection">
      <span>Retour en haut</span>
      <i><img src="assets/images/icon-stat-down-16.svg" alt=""></i>
    </div>
  </div>
</div>
