<div class="card-round p-3">
    <div><h5 class="card-title text-primaire">Créer un plan d'empotage</h5></div>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
            <mat-step>
                <ng-template matStepLabel>
                    <span>Prerequis</span>
                </ng-template>
                <div class="row">
                    <div class="col-md-6">
                        <div class="position-relative form-group">
                            <label for="contrat">Contrat:</label>
                            <select class="form-select" aria-label="Default select example" id="contrat" formControlName="contrat">
                              <option *ngFor="let item of contrats" [value]="item.id">{{ item.libelle }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="position-relative form-group">
                            <label for="premium">Premium:</label>
                            <input type="number" class="form-control" placeholder="+2"  id="premium" formControlName="premium">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="position-relative form-group">
                            <label for="qte">Quantité:</label>
                            <input type="number" class="form-control" placeholder="Saisie la quantité" id="qte" formControlName="qte">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="position-relative form-group">
                            <label for="discompte">Discompte:</label>
                            <input type="number" class="form-control" placeholder="-2" id="discompte" formControlName="discompte">
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-between mb-3">
                    <div></div>
                    <button mat-button matStepperNext  type="button" class="button btn-small btn-primaire">
                        Suivant  <i class="fas fa-chevron-right"></i>
                    </button>
                </div>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Site</ng-template>
                <div class="row">
                    <div class="col-md-6">
                        <div class="position-relative form-group">
                            <label for="booking">Booking:</label>
                            <select class="form-control" id="booking" formControlName="booking">
                              <option *ngFor="let item of bookings" [value]="item.id">{{ item.libelle }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="position-relative form-group">
                            <label for="conteneur">Conteneur:</label>
                            <select class="form-control" id="conteneur" formControlName="conteneur">
                              <option *ngFor="let item of conteneurs" [value]="item.id">{{ item.libelle }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6"></div>
                    <div class="col-md-6" id="conteneur-content">
                        <div class="conteneur-item">
                            <span>Conteneur 1</span>
                            <i class="fas fa-times"></i>
                        </div>
                        <div class="conteneur-item">
                            <span>Conteneur 2</span>
                            <i class="fas fa-times"></i>
                        </div>
                        <div class="conteneur-item">
                            <span>Conteneur 3</span>
                            <i class="fas fa-times"></i>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="position-relative form-group">
                            <label for="entrepot">Entrepôt:</label>
                            <select class="form-control" id="entrepot" formControlName="entrepot">
                              <option *ngFor="let item of entrepots" [value]="item.id">{{ item.libelle }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="position-relative form-group">
                            <label for="transitaire">Transitaire:</label>
                            <select class="form-control" id="transitaire" formControlName="transitaire">
                              <option *ngFor="let item of transitaires" [value]="item.id">{{ item.libelle }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-between mb-3">
                    <button mat-button matStepperPrevious type="button" class="button btn-small btn-neutral-primaire">
                        <i class="fas fa-chevron-left"></i>  Precedent
                    </button>
                    <button mat-button matStepperNext type="button" class="button btn-small btn-primaire">
                        Suivant  <i class="fas fa-chevron-right"></i>
                    </button>
                </div>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Lots</ng-template>
                <div class="row">
                    <div class="col-md-6">
                        <div class="position-relative form-group">
                            <label for="lot">Lots:</label>
                            <select class="form-control" id="lot" formControlName="lot">
                              <option *ngFor="let item of lots" [value]="item.id">{{ item.libelle }}</option>
                            </select>
                            <!-- <details class="custom-select">
                                <summary class="radios">
                                    <input type="radio" name="item" id="default" title="Selectionné(s) le(s) lot(s)" checked>
                                    <input *ngFor="let item of lots" type="radio" name="lot" [id]="'lot'+item?.id" [title]="item?.libelle">
                                </summary>
                                <ul class="list">
                                  <li *ngFor="let item of lots">
                                    <label for="lot1">{{ item?.libelle}}</label>
                                  </li>
                                </ul>
                            </details> -->
                        </div>
                        <div class="lot-content">
                          <div *ngFor="let item of lots">
                            <div class="lot-item d-flex justify-content-between">
                              <span>
                                <span class="dot" *ngIf="detail == true">.</span> {{item.libelle}}
                              </span>
                              <div class="lot-action">
                                <i class="fas fa-eye" (click)="showDetail(item)"></i>
                                <i class="fas fa-times"></i>
                              </div>
                            </div>
                            <hr class="m-0">
                          </div>
                        </div>
                    </div>
                    <div class="col-md-4" *ngIf="detail == true && lot">
                        <div class="info">
                            <span class="titre mb-3">Info sur le lot</span>
                            <div class="d-flex justify-content-between">
                                <span>Quantité</span>
                                <span>{{lot?.qte }}</span>
                            </div>
                            <hr>
                            <div class="d-flex justify-content-between">
                                <span>Grainage</span>
                                <span>{{lot?.grainage }}</span>
                            </div>
                            <hr>
                            <div class="d-flex justify-content-between">
                                <span>TH</span>
                                <span>{{lot?.th }}</span>
                            </div>
                            <hr>
                            <div class="d-flex justify-content-between">
                                <span>Nomre de sacs en stock</span>
                                <span>{{lot?.sacStock }}</span>
                            </div>
                            <hr>
                            <div class="d-flex justify-content-between">
                                <span>Nomre de sacs en restant</span>
                                <span>{{lot?.sacRestant }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-between mb-3">
                    <button mat-button matStepperPrevious  type="button" class="button btn-small btn-neutral-primaire">
                        <i class="fas fa-chevron-left"></i>  Precedent
                    </button>
                    <button mat-button matStepperNext type="button" (click)="onSetData()" class="button btn-small btn-primaire">
                        Suivant  <i class="fas fa-chevron-right"></i>
                    </button>
                </div>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Recap</ng-template>
                <div class="row">
                    <div class="col-md-6">
                        <div class="recap-card">
                            <div class="d-flex justify-content-between mb-3">
                                <span>Prerequis</span>
                                <span class="edit"><i class="fas fa-pen"></i> Editer</span>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p class="mb-1">Contract</p>
                                            <p class="mb-1">Quantité</p>
                                            <p class="mb-1">Premium</p>
                                            <p class="mb-1">Discompte</p>
                                        </div>
                                        <div class="col-md-6">
                                            <p class="mb-1">{{ contrat ? contrat?.libelle : 'NON DEFINI' }}</p>
                                            <p class="mb-1">{{ f.qte.value ? f.qte.value : 'NON DEFINI' }}</p>
                                            <p class="mb-1">{{ f.premium.value ? f.premium.value : 'NON DEFINI' }}</p>
                                            <p class="mb-1">{{ f.discompte.value ? f.discompte.value : 'NON DEFINI' }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="recap-card">
                            <div class="d-flex justify-content-between mb-3">
                                <span>Site</span>
                                <span class="edit"><i class="fas fa-pen"></i> Editer</span>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p class="mb-1">Booking</p>
                                            <p class="mb-1">Entrepôt</p>
                                            <p class="mb-1">Transitaire</p>
                                        </div>
                                        <div class="col-md-6">
                                          <p class="mb-1">{{ booking ? booking?.libelle : 'NON DEFINI' }}</p>
                                          <p class="mb-1">{{ entrepot ? entrepot?.libelle : 'NON DEFINI' }}</p>
                                          <p class="mb-1">{{ transitaire ? transitaire?.libelle : 'NON DEFINI' }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex justify-content-between mb-3">
                                <span>Conteneur</span>
                            </div>
                            <div class="d-flex" id="conteneur-wrapper">
                                <div class="item">
                                    <span>{{ conteneur ? conteneur?.libelle : 'NON DEFINI' }}</span>
                                    <i class="fas fa-times"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="recap-card">
                            <div class="d-flex justify-content-between mb-3">
                                <span>Lot</span>
                                <span class="edit"><i class="fas fa-pen"></i> Editer</span>
                            </div>
                            <div class="row" *ngIf="lotD">
                                <span class="lot-title">{{ lotD?.libelle }}</span>
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <p class="mb-1">Quantité</p>
                                            <p class="mb-1">Granage</p>
                                            <p class="mb-1">TH</p>
                                        </div>
                                        <div class="col-md-4">
                                          <p class="mb-1">{{ lotD?.qte }}</p>
                                          <p class="mb-1">{{ lotD?.grainage }}</p>
                                          <p class="mb-1">{{ lotD?.th }}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <p class="mb-1">Nombre de sac en stock</p>
                                            <p class="mb-1">Nombre de sac en restant</p>
                                        </div>
                                        <div class="col-md-4">
                                            <p class="mb-1">{{ lotD?.sacStock }}</p>
                                            <p class="mb-1">{{ lotD?.sacRestant }}</p>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-between mb-3">
                    <button mat-button matStepperPrevious  type="button" class="button btn-small btn-neutral-primaire">
                        <i class="fas fa-chevron-left"></i>  Precedent
                    </button>
                    <button mat-button matStepperNext  class="button btn-small btn-primaire">
                        Enregistrer  <i class="fas fa-chevron-right"></i>
                    </button>
                </div>
            </mat-step>
        </mat-stepper>
    </form>
</div>
