.row {
    margin-bottom: 15px;
    label {
        margin-bottom: 5px;
    }
}

// Input de type select
select, input, .radios {
    height: 40px;
    border-radius: 5px;
}

// Input select conteneur
details {
	position: relative;
	width: 100%;
}
details[open] {
	z-index: 1;
}
summary {
  border: 1px solid #ccc;
  align-items: center;
  padding: 9px 10px 0 10px;
  cursor: pointer;
  border-radius: 5px;
  list-style: none;
  &:after {
    content: '';
    display: inline-block;
    float: right;
    width: .5rem;
    height: .5rem;
    border-bottom: 1px solid currentColor;
    border-left: 1px solid currentColor;
    border-bottom-left-radius: 2px;
    transform: rotate(45deg) translate(50%, 0%);
    transform-origin: center center;
    transition: transform ease-in-out 100ms
  }
  &:focus {
      outline: none;
  }
}
details[open] summary:before {
	content: '';
	display: block;
	width: 100vw;
	height: 100vh;
	background: transparent;
	position: fixed;
	top: 0;
	left: 0;
}
details[open] summary:after {
	transform: rotate(-45deg) translate(0%, 0%);
}
ul {
	width: 100%;
    border:  1px solid #ccc;
	background: #fff;
	position: absolute;
	top: calc(100% + .5rem);
	left: 0;
	padding: 1rem;
	margin: 0;
	box-sizing: border-box;
	border-radius: 5px;
}
li {
	margin: 0;
    padding: 8px;
    &:hover {
        border-radius: 5px;
        background: #FFF6F1;
    }
}

/* FAUX SÉLECTION */
summary.radios {
	counter-reset: radios;
}
input[type=radio] {
	counter-increment: radios;
	appearance: none;
	display: none;
}
input[type=radio]:checked {
	display: inline;
}
input[type=radio]:after {
	content: attr(title);
	display: inline;
	font-size: 1rem;
}
ul.list {
	counter-reset: labels;
}
label {
	width: 100%;
	display: block;
	cursor: pointer;
}
#conteneur-content {
    display: flex;
    align-items: center;

    .conteneur-item {
        height: 38.5px;
        display: flex;
        align-items: center;
        padding: 10px;
        color: #cb7a4b;
        border-radius: 25px;
        background: #f8eae3;
        margin-right: 22px;
        span {
            margin-left: 13px;
            margin-right: 9.33px;
        }
        i {
            margin-right: 18.12px;
        }
    }
}

// Input select lots
.lot-content {
    margin-top: 10px;
    border-radius: 10px;
    background-color: #cccc;
    .lot-item {
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        background: #fafafb;
        color: #cb7a4b;
        padding: 0 34px;
        cursor: pointer;
        span {
            font-weight: bold;
            color: #707070;
            .dot {
                font-size: 30px;
                margin-right: 10px;
                color: #cb7a4b;
            }
        }
        .lot-action {
            display: flex;
            i{
                margin: 5px;
            }
        }
    }
    hr {
        color: rgb(177, 174, 174);
    }
}
.info {
    margin-top: 50px;
    padding: 10px;
    border-radius: 10px;
    background: #f8eae3;
    .titre {
        color: #cb7a4b;
    }
}


select {
  option {
      border-radius: 25px;
      background: #f8eae3;
      padding: 20px;
      margin: 10px;
  }
}

// Recap
.recap-card {
    padding: 10px;
    border-radius: 10px;
    background-color: #fcfcfc;
    margin-top: 25px;
    .edit {
      color: #cb7a4b;
      cursor: pointer;
    }
    .lot-title {
      color: #cb7a4b;
    }
    #conteneur-wrapper {
        align-items: center;
    
        .item {
            height: 38.5px;
            display: flex;
            align-items: center;
            padding: 10px;
            color: #cb7a4b;
            border-radius: 25px;
            background: #f8eae3;
            margin-right: 20px;
            span {
                margin-left: 13px ;
                margin-right: 9.33px ;
            }
            i {
                margin-right: 18.12px ;
            }
        }
    }
}
