/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet"');

@import "./assets/styles/main.scss";
@import "./assets/styles/sidebar.scss";
@import "./assets/styles/header.scss";
@import "./assets/styles/button.scss";
@import "./assets/styles/color.scss";
@import "./assets/styles/table.scss";
@import "./assets/styles/card.scss";
@import '~bootstrap/scss/bootstrap';

* {
    margin: 0;
    padding: 0;
}

body, html {
    font-family: 'Roboto', sans-serif;
    padding: 0px !important;
    margin: 0px !important;
    font-size:13px;
    height: 100%;
    width: 100%;
}

ul li {
    list-style: none;
}

a, a:hover, a:focus {
    text-decoration: none;
    outline: none;
}

// Sidebar navigaztion

#sidebar {
    height: 100%;
    position: fixed;
    width: 15%;
    padding: 20px;
}
#container {
    margin-left: 15%;
    #header {
        margin-left: 15%;
        display: flex;
        flex-direction: column;
        padding: 10px;
        position: fixed;
        left: 0;
        right: 0;
        z-index: 1002;
        background: #fafafb;
    }
    #wrapper {
        display: inline-block;
        margin-top: 70px;
        padding: 0 20px 20px 20px;
        width: 100%;
    }
}



// STYLE DU COMPOSANT DATABLE
.searchBar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#searchIcon {
  width: 3.5rem;
  height: 2.8rem;
  margin-left: -3.5rem;
  background: none;
  border: none;
  outline: none;
}

#searchIcon:hover {
  cursor: pointer;
}

#searchQueryInput {
  width: 100%;
  height: 2.8rem;
  background: #fcf7f2;
  outline: none;
  border: none;
  border-radius: 1.625rem;
  padding: 0 3.5rem 0 1.5rem;
  font-size: 1rem;
}

.card-foot-item {
  display: flex;
  align-items: center;
  td {
      align-items: center;
  }
  span {
      margin-right: 15px;
  }
  div {
      height: 40px;
      width: 155.5px;
      border: 1px solid #ccc;
      border-radius: 4px;
      display: flex;
      align-items: center;
      cursor: pointer;
      span {
          margin-right: 52px;
          margin-left: 10px;
      }
  }
}
.redirection {
  height: 40px;
  width: 175.5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: flex;
  align-items: center;
  cursor: pointer;
  span {
      margin-right: 40px;
      margin-left: 8px;
  }
}


//DETAIL  BLOCK STYLE
.text-right {
    text-align: right;
    margin-bottom: 25px;
    .one {
        margin-right: 20px;
    }
}
.card-round {
    .head {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        .card-title {
            margin: 0 94px 0 0;
        }
        .button {
           padding: 5px 20px;
        }
    }
    .card {
        border-radius: 10px;
        border: 0;
        .card-header {
            padding: 20px;
            background-color: #fff6f1;
            border-radius: 10px 10px 0 0;
            border-bottom: none;
            .edit {
              color: #cb7a4b;
              cursor: pointer;
            }
        }
        .card-body {
            background-color: #fcfcfc;
            border-radius: 0 0 10px 10px;
            hr {
                color: rgb(177, 174, 174);
            }
            .select {
                all: unset;
                width: 250px;
                padding-right: 15px;
                border-bottom: 1px solid #cb7a4b;
                background: url('https://www.charbase.com/images/glyph/9662') no-repeat right;
                background-size: 16px;
            }
            .lot-title {
              color: #cb7a4b;
            }
            #conteneur-wrapper {
                align-items: center;

                .item {
                    height: 38.5px;
                    display: flex;
                    align-items: center;
                    padding: 10px;
                    color: #cb7a4b;
                    border-radius: 25px;
                    background: #f8eae3;
                    margin-right: 20px;
                    span {
                        margin-left: 13px ;
                        margin-right: 9.33px ;
                    }
                    i {
                        margin-right: 18.12px ;
                    }
                }
            }
            .button {
                margin-top: 10px;
                border-radius: 25px;
            }
            .lot-action {
                margin-top: 10px;
                display: flex;
                align-items: center;
                color: #cb7a4b;
                cursor: pointer;
                .second {
                    margin-left: 3px;
                }
            }
        }

        .action {
            color: #cb7a4b;
            cursor: pointer;
            .one {
                margin-right: 20px;
            }
        }
    }
    .foot-action {
        margin-top: 15px;
    }
}

// Changement de lot
select, input, .radios {
    height: 40px;
    border-radius: 5px;
}

details {
	position: relative;
	width: 100%;
}
details[open] {
	z-index: 1;
}
summary {
  border: 1px solid #ccc;
  align-items: center;
  padding: 9px 10px 0 10px;
  cursor: pointer;
  border-radius: 5px;
  list-style: none;
  &:after {
    content: '';
    display: inline-block;
    float: right;
    width: .5rem;
    height: .5rem;
    border-bottom: 1px solid currentColor;
    border-left: 1px solid currentColor;
    border-bottom-left-radius: 2px;
    transform: rotate(45deg) translate(50%, 0%);
    transform-origin: center center;
    transition: transform ease-in-out 100ms
  }
  &:focus {
      outline: none;
  }
}
details[open] summary:before {
	content: '';
	display: block;
	width: 100vw;
	height: 100vh;
	background: transparent;
	position: fixed;
	top: 0;
	left: 0;
}
details[open] summary:after {
	transform: rotate(-45deg) translate(0%, 0%);
}
ul {
	width: 100%;
    border:  1px solid #ccc;
	background: #fff;
	position: absolute;
	top: calc(100% + .5rem);
	left: 0;
	padding: 1rem;
	margin: 0;
	box-sizing: border-box;
	border-radius: 5px;
}
li {
	margin: 0;
    padding: 8px;
    &:hover {
        border-radius: 5px;
        background: #FFF6F1;
    }
}

/* FAUX SÉLECTION */
summary.radios {
	counter-reset: radios;
}
input[type=radio] {
	counter-increment: radios;
	appearance: none;
	display: none;
}
input[type=radio]:checked {
	display: inline;
}
input[type=radio]:after {
	content: attr(title);
	display: inline;
	font-size: 1rem;
}
ul.list {
	counter-reset: labels;
}
label {
	width: 100%;
	display: block;
	cursor: pointer;
}
.lot-content {
    margin-top: 10px;
    border-radius: 10px;
    background-color: #cccc;
    .lot-item {
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        background: #fafafb;
        color: #cb7a4b;
        padding: 0 34px;
        cursor: pointer;
        span {
            font-weight: bold;
            color: #707070;
            .dot {
                font-size: 30px;
                margin-right: 10px;
                color: #cb7a4b;
            }
        }
        .lot-action {
            display: flex;
            i{
                margin: 5px;
            }
        }
    }
    hr {
        color: rgb(177, 174, 174);
    }
}
.info {
    margin-top: 50px;
    padding: 10px;
    border-radius: 10px;
    background: #f8eae3;
    .titre {
        color: #cb7a4b;
    }
}
