.button {
    border-radius: 5px;
    padding: 10px 50px;
    border: none;
}
.btn-small {
    border-radius: 5px;
    padding: 10px 40px;
    border: none;
}
.btn-icon {
    border-radius: 5px;
    padding: 10px 15px;
    border: none;
}

.button:hover {
    box-shadow: -1px -1px 5px rgba(#333, 0.2);
}

.btn-primaire {
    background-color: #CB7A4B;
    color: #fff;
}

.btn-neutral-primaire {
    background: #f8eae3;
    color: #CB7A4B;
}

.btn-vert {
    background-color: #1FBF48;
    color: #fff;
}