@import url('https://fonts.googleapis.com/css?family=roboto:400, 700|Lato:400,800,900');

#app {
    display: flex;
    flex-direction: row;
    height: 100%;
    #sidebar {
        flex-basis: 15%;
        padding: 20px;
        height: 100%;
    }

    #container {
        width: 85%;
        height: 100%;
        background: #FAFAFB 0% 0% no-repeat padding-box;
        opacity: 1;

        #header {
        }
    }
}
