.table > thead {
    background: #efd7c9;
    height: 45px;
    border-radius: 1em;

    .round-left {
        border-radius: 15px 0 0 15px;
    }
    .round-right {
        border-radius: 0 15px 15px 0;
    }
}
.table > tbody > tr > td {
    align-items: center;
}

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
}

.table.table-hover tbody tr:hover {
    background: #ffecdd;
}

.table-stripbed > tbody > tr:nth-child(2n+2) > td, 
.table-stripbed > tbody > tr:nth-child(2n+2) > th {
    background-color: #fffbf8;
}