<div class="d-flex justify-content-between mb-3">
    <div></div>
    <button class="button btn-primaire" (click)="addExecution()">Créer une execution</button>
  </div>

  <app-data-table [title]="'Exécution'" [entity]="'execution'" [datas]="executes"></app-data-table>
